<ion-content>
	<div class="ion-padding">
		<div id="mimapa" width="100%" height="100%"></div>
	</div>
	<ion-tabs>
		<ion-tab-bar slot="bottom">
			<ion-tab-button tab="mapa" routerLink="/estaciones">
				<ion-icon name="map"></ion-icon>
				<ion-label>Estaciones</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="noticias" routerLink="/noticias">
				<ion-icon name="logo-rss"></ion-icon>
				<ion-label>Noticias</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="galeria" routerLink="/galeria">
				<ion-icon name="camera"></ion-icon>
				<ion-label>Galería</ion-label>
			</ion-tab-button>

			<ion-tab-button tab="perfil" routerLink="/perfil">
				<ion-icon name="person"></ion-icon>
				<ion-label>Perfil</ion-label>
			</ion-tab-button>
		</ion-tab-bar>
	</ion-tabs>
</ion-content>
